In [2]:
import pandas as pd
import numpy as np
import os

import warnings
warnings.filterwarnings('ignore')

**Khong su dung index_col**

In [9]:
path ='./data_for_example'

#Tạo một DataFrame rỗng
all_data = pd.DataFrame()

#Đọc dữ liệu trong từng file dữ liệu và tổng hợp thành một DataFrame chung
for file in os.listdir(path):
    path_file = path+'/'+file
    current_data = pd.read_csv(path_file)
    print(file, '---',current_data.shape[0])
    
    all_data = all_data.append(current_data)

DataFrame1.csv --- 1000
DataFrame10.csv --- 999
DataFrame11.csv --- 4997
DataFrame12.csv --- 4998
DataFrame2.csv --- 1000
DataFrame3.csv --- 1000
DataFrame4.csv --- 1000
DataFrame5.csv --- 1000
DataFrame6.csv --- 999
DataFrame7.csv --- 999
DataFrame8.csv --- 999
DataFrame9.csv --- 1000

In [10]:
all_data

,Unnamed: 0,Số báo danh,Cụm thi,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
0,0,14006747,14 - Sở GDĐT Sơn La,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,13002827,13 - Sở GDĐT Yên Bái,NaN,1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,4006907,04 - Sở GDĐT Đà Nẵng,NaN,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,6000640,06 - Sở GDĐT Cao Bằng,NaN,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15008444,15 - Sở GDĐT Phú Thọ,NaN,1.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,2074747,02 - Sở GDĐT TP. Hồ Chí Minh,6.6,5.75,NaN,6.75,6.25,4.75,NaN,NaN,NaN
996,996,2081912,02 - Sở GDĐT TP. Hồ Chí Minh,7.6,6.25,NaN,6.75,6.25,5.00,NaN,NaN,NaN
997,997,2047495,02 - Sở GDĐT TP. Hồ Chí Minh,8.2,8.00,NaN,6.75,6.25,5.00,NaN,NaN,NaN
998,998,2072080,02 - Sở GDĐT TP. Hồ Chí Minh,7.6,6.50,NaN,6.75,6.25,5.25,NaN,NaN,NaN
999,999,1079832,01 - Sở GDĐT Hà Nội,8.4,NaN,NaN,6.75,6.25,5.75,NaN,NaN,NaN

In [11]:
path ='./data_for_example'

#Tạo một DataFrame rỗng
all_data = pd.DataFrame()

#Đọc dữ liệu trong từng file dữ liệu và tổng hợp thành một DataFrame chung
for file in os.listdir(path):
    path_file = path+'/'+file
    current_data = pd.read_csv(path_file,index_col=0)
    print(file, '---',current_data.shape[0])
    
    all_data = all_data.append(current_data)

DataFrame1.csv --- 1000
DataFrame10.csv --- 999
DataFrame11.csv --- 4997
DataFrame12.csv --- 4998
DataFrame2.csv --- 1000
DataFrame3.csv --- 1000
DataFrame4.csv --- 1000
DataFrame5.csv --- 1000
DataFrame6.csv --- 999
DataFrame7.csv --- 999
DataFrame8.csv --- 999
DataFrame9.csv --- 1000

In [6]:
all_data.head()

,Số báo danh,Cụm thi,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
0,14006747,14 - Sở GDĐT Sơn La,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13002827,13 - Sở GDĐT Yên Bái,NaN,1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4006907,04 - Sở GDĐT Đà Nẵng,NaN,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6000640,06 - Sở GDĐT Cao Bằng,NaN,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15008444,15 - Sở GDĐT Phú Thọ,NaN,1.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Cột cụm thi không cần thiết lắm bởi vì 2 số đầu đã biểu diễn cụm thi rồi**

In [14]:
all_data.drop(["Cụm thi"], axis=1, inplace=True)

In [15]:
all_data

,Số báo danh,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
0,14006747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13002827,NaN,1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4006907,NaN,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6000640,NaN,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15008444,NaN,1.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
995,2074747,6.6,5.75,NaN,6.75,6.25,4.75,NaN,NaN,NaN
996,2081912,7.6,6.25,NaN,6.75,6.25,5.00,NaN,NaN,NaN
997,2047495,8.2,8.00,NaN,6.75,6.25,5.00,NaN,NaN,NaN
998,2072080,7.6,6.50,NaN,6.75,6.25,5.25,NaN,NaN,NaN
999,1079832,8.4,NaN,NaN,6.75,6.25,5.75,NaN,NaN,NaN

**đặt ra vấn đề là có các dòng chứa tên cột không**

In [16]:
all_data.iloc[999:1010,:]

,Số báo danh,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
999,62004479,6.8,8.00,NaN,NaN,NaN,NaN,8.0,NaN,NaN
0,2060423,7.4,5.50,NaN,6.75,6.25,6.25,NaN,NaN,NaN
1,2046865,7.8,6.25,NaN,6.75,6.25,6.50,NaN,NaN,NaN
2,2010215,8.2,7.00,NaN,6.75,6.25,6.75,NaN,NaN,NaN
3,2009989,7.2,5.25,NaN,6.75,6.50,4.00,NaN,NaN,NaN
4,2071084,7.8,6.75,NaN,6.75,6.50,4.00,NaN,NaN,NaN
5,2079038,7.6,6.00,NaN,6.75,6.50,4.25,NaN,NaN,NaN
6,2080585,6.6,5.00,NaN,6.75,6.50,4.50,NaN,NaN,NaN
7,2072297,7.2,5.50,NaN,6.75,6.50,4.75,NaN,NaN,NaN
8,2075296,7.4,5.50,NaN,6.75,6.50,4.75,NaN,NaN,NaN
9,2010157,7.6,6.25,NaN,6.75,6.50,4.75,NaN,NaN,NaN

**chỉ cần sắp sếp lại index và cột sbd**

In [18]:
all_data.sort_values(by="Số báo danh", inplace=True)

In [19]:
all_data

,Số báo danh,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
108,1065951,3.8,2.25,2.4,7.00,NaN,NaN,6.25,7.00,0.00
109,1065952,8.0,6.50,8.6,6.25,7.75,6.75,NaN,NaN,NaN
110,1065953,8.4,6.75,5.2,8.00,7.75,4.75,NaN,NaN,NaN
111,1065954,6.8,6.50,3.8,8.25,NaN,NaN,7.25,8.25,0.75
112,1065955,7.4,5.25,2.4,6.75,NaN,NaN,8.00,6.75,0.00
...,...,...,...,...,...,...,...,...,...,...
863,63000409,3.8,3.50,NaN,NaN,NaN,NaN,4.75,NaN,NaN
828,63000433,5.8,3.00,2.0,5.25,NaN,NaN,5.25,5.25,0.75
920,63000595,3.2,3.50,2.6,5.50,NaN,NaN,3.50,5.50,0.75
865,63000773,4.8,6.00,3.4,5.25,NaN,NaN,6.00,5.25,0.75
876,63000787,3.4,5.00,2.6,5.25,NaN,NaN,6.50,5.25,0.75

In [20]:
all_data.reset_index(drop=True, inplace=True)

In [21]:
all_data

,Số báo danh,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
0,1065951,3.8,2.25,2.4,7.00,NaN,NaN,6.25,7.00,0.00
1,1065952,8.0,6.50,8.6,6.25,7.75,6.75,NaN,NaN,NaN
2,1065953,8.4,6.75,5.2,8.00,7.75,4.75,NaN,NaN,NaN
3,1065954,6.8,6.50,3.8,8.25,NaN,NaN,7.25,8.25,0.75
4,1065955,7.4,5.25,2.4,6.75,NaN,NaN,8.00,6.75,0.00
...,...,...,...,...,...,...,...,...,...,...
19986,63000409,3.8,3.50,NaN,NaN,NaN,NaN,4.75,NaN,NaN
19987,63000433,5.8,3.00,2.0,5.25,NaN,NaN,5.25,5.25,0.75
19988,63000595,3.2,3.50,2.6,5.50,NaN,NaN,3.50,5.50,0.75
19989,63000773,4.8,6.00,3.4,5.25,NaN,NaN,6.00,5.25,0.75
19990,63000787,3.4,5.00,2.6,5.25,NaN,NaN,6.50,5.25,0.75

**Xuất ra file excel**

In [22]:
all_data.to_excel("./data_for_example/all_data_ok.xlsx")